<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.dca.dao.DcaBParttimejobMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.dca.entity.DcaBParttimejob">
                    <id column="id" property="id"/>
                    <result column="user_account" property="userAccount"/>
                    <result column="jz_start_time" property="jzStartTime"/>
                    <result column="jz_end_time" property="jzEndTime"/>
                    <result column="jz_content" property="jzContent"/>
                    <result column="jz_state" property="jzState"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, user_account, jz_start_time, jz_end_time, jz_content, jz_state, IS_DELETEMARK, CREATE_TIME, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID
    </sql>
    <update id="updateDcaBParttimejob" parameterType="cc.mrbird.febs.dca.entity.DcaBParttimejob">
        update dca_b_parttimejob
        <trim prefix="set" suffixOverrides=",">
<if test="userAccount != null">user_account=#{userAccount},</if>
<if test="jzStartTime != null">jz_start_time=#{jzStartTime},</if>
<if test="jzEndTime != null">jz_end_time=#{jzEndTime},</if>
<if test="jzContent != null">jz_content=#{jzContent},</if>
<if test="jzState != null">jz_state=#{jzState},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
        </trim>
                where id=#{id}

    </update>
    <select id="findDcaBParttimejob" resultType="cc.mrbird.febs.dca.entity.DcaBParttimejob" parameterType="cc.mrbird.febs.dca.entity.DcaBParttimejob">
        select  *  from dca_b_parttimejob
        where  1=1
            <if test="dcaBParttimejob.id != null and dcaBParttimejob.id != ''"> and dcaBParttimejob.id =#{ dcaBParttimejob.id} </if>
            <if test="dcaBParttimejob.userAccount != null and dcaBParttimejob.userAccount != ''"> and dcaBParttimejob.user_account like concat('%', #{ dcaBParttimejob.userAccount} ,'%')</if>
        <if test="dcaBParttimejob.jzStartTimeFrom!= null">
            AND dcaBParttimejob.jz_start_time <![CDATA[ >= ]]>  #{dcaBParttimejob.jzStartTimeFrom}
        </if>
        <if test="dcaBParttimejob.jzStartTimeTo!= null">
            AND dcaBParttimejob.jz_start_time <![CDATA[ <= ]]>  #{dcaBParttimejob.jzStartTimeTo}
        </if>
        <if test="dcaBParttimejob.jzEndTimeFrom!= null">
            AND dcaBParttimejob.jz_end_time <![CDATA[ >= ]]>  #{dcaBParttimejob.jzEndTimeFrom}
        </if>
        <if test="dcaBParttimejob.jzEndTimeTo!= null">
            AND dcaBParttimejob.jz_end_time <![CDATA[ <= ]]>  #{dcaBParttimejob.jzEndTimeTo}
        </if>
            <if test="dcaBParttimejob.jzContent != null and dcaBParttimejob.jzContent != ''"> and dcaBParttimejob.jz_content like concat('%', #{ dcaBParttimejob.jzContent} ,'%')</if>
        <if test="dcaBParttimejob.jzState != null"> and dcaBParttimejob.jz_state =#{ dcaBParttimejob.jzState} </if>
        <if test="dcaBParttimejob.isDeletemark != null"> and dcaBParttimejob.IS_DELETEMARK =#{ dcaBParttimejob.isDeletemark} </if>
        <if test="dcaBParttimejob.createTimeFrom!= null">
            AND dcaBParttimejob.CREATE_TIME <![CDATA[ >= ]]>  #{dcaBParttimejob.createTimeFrom}
        </if>
        <if test="dcaBParttimejob.createTimeTo!= null">
            AND dcaBParttimejob.CREATE_TIME <![CDATA[ <= ]]>  #{dcaBParttimejob.createTimeTo}
        </if>
        <if test="dcaBParttimejob.modifyTimeFrom!= null">
            AND dcaBParttimejob.MODIFY_TIME <![CDATA[ >= ]]>  #{dcaBParttimejob.modifyTimeFrom}
        </if>
        <if test="dcaBParttimejob.modifyTimeTo!= null">
            AND dcaBParttimejob.MODIFY_TIME <![CDATA[ <= ]]>  #{dcaBParttimejob.modifyTimeTo}
        </if>
</select>

</mapper>